body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#level-title {
  /* Prevent the text from wrapping to a second line */
  /*white-space: nowrap; */
  /* Apply the animation: Name, duration, timing function, and repetition */
  animation: scrollText 10s linear infinite; 
  /* Optional styling */
  /*.blue: #333; */
  margin: 0; 
}

/* 3. The Animation Keyframes */
@keyframes scrollText {
  0% {
    /* Start off-screen to the right */
    transform: translateX(-10%); 
  }
  100% {
    /* End completely off-screen to the left */
    transform: translateX(10%); 
  }
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
